<!-- public/views/expense.html -->

<!-- <div class="jumbotron text-center"> -->
<h1>Expenses Dashboard</h1>
<h2>{{expenseDashCtrl.notification}}</h2>


<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-4 col-sm-2" for="month">Month:</label>
        <div class="col-xs-8 col-sm-4">
            <select class="form-control" id="month" ng-model="expenseDashCtrl.filter.month" ng-options="item.id as item.label for item in expenseDashCtrl.months" ng-change="expenseDashCtrl.getExpenseDashboard()"></select>
        </div>
        <label class="control-label col-xs-4 col-sm-2" for="year">Year:</label>
        <div class="col-xs-8 col-sm-4">
            <select class="form-control" id="year" ng-model="expenseDashCtrl.filter.year" ng-options="item for item in expenseDashCtrl.years" ng-change="expenseDashCtrl.getExpenseDashboard()"></select>
        </div>
    </div>
</form>

    <div class="progress col-xs-12 no-h-pad prog-xs prog-dark-bg">
        <div class="progress-bar" ng-class="expenseDashCtrl.getProgressClass(expenseDashCtrl.dashTotals)" role="progressbar" aria-valuenow="{{expenseDashCtrl.dashTotals.usedAmount | number : 0}}" aria-valuemin="0" aria-valuemax="{{expenseDashCtrl.dashTotals.amount | number : 0}}" style="width:{{expenseDashCtrl.getPercentageForBar(expenseDashCtrl.dashTotals) | number : 0}}%">
            <span style="white-space: nowrap;">{{expenseDashCtrl.dashTotals.usedAmount | number : 2 }} / {{expenseDashCtrl.dashTotals.amount | number : 2}}</span>
        </div>
    </div>
<div ng-repeat="alloc in expenseDashCtrl.dashboard track by alloc.type">
    <div class="col-xs-3 no-wrap-text" style="padding-left:0px"><span>{{alloc.description}}</span></div>
    <div class="progress col-xs-9 no-h-pad prog-xs prog-dark-bg">
        <a ng-href="expense-detail?month={{expenseDashCtrl.filter.month}}&year={{expenseDashCtrl.filter.year}}&type={{alloc.type}}&desc={{alloc.description}}">
            <div class="progress-bar" ng-class="expenseDashCtrl.getProgressClass(alloc)" role="progressbar" aria-valuenow="{{alloc.usedAmount | number : 0}}" aria-valuemin="0" aria-valuemax="{{alloc.amount | number : 0}}" style="width:{{expenseDashCtrl.getPercentageForBar(alloc) | number : 0}}%">
                <span style="white-space: nowrap;">{{alloc.usedAmount | number : 2 }} / {{alloc.amount | number : 2}}</span>
            </div>
        </a>
    </div>
</div>
